[submodule "zsh-async"]
	path = srcs/zsh/third-party/zsh-async
	url = git@github.com:mafredri/zsh-async.git
[submodule "srcs/zsh/third-party/zsh-async"]
	path = srcs/zsh/third-party/zsh-async
	url = https://github.com/mafredri/zsh-async.git
